{% extends "layout.html" %} {% block body %}
<div class="languages">
   <div class="lang">
      <div class="trai">
         <h1 style="font-size: 40px">REVIEW & THÀNH TÍCH</h1>
         <div style="margin-bottom: 10px">
            Cùng điểm qua “một số ít” feedback học viên luyện thi đều đặn gởi về
            cho trung tâm sau khi tham gia các khóa học tại LANGUAGE & IT
            ACADAMY.
         </div>
         <div>
            Với tiêu chí làm việc luôn đảm bảo uy tín và chất lượng, chúng tôi
            xây dựng quy trình giáo án chuẩn hóa: Rất nhiều học viên tin tưởng
            lựa chọn Anhle cùng đồng hành trong quá trình cải thiện và chinh
            phục tiếng Anh tại trung tâm..
         </div>
      </div>
      <div class="phai"><img src="{{ url_for('static', filename='img/LKG.png') }}" alt="pt" /></div>
   </div>
</div>

<div class="gene">
   <h2 style="margin-left: 30px">DANH SÁCH CÁC HỌC VIÊN ĐẠT THÀNH TÍCH:</h2>
   <ul style="margin-left: 40px; font-size: 18px; line-height: 30px">
      <li>
         <strong>Phan Văn Hiếu</strong> - đã hoàn thành bài thi TOIEC trong
         tháng vừa qua với điểm số 680 TOEIC (Listening: 335 / Reading: 345 )
      </li>
      <li>
         <strong>Lê Thị Thảo Nguyên - </strong>đã hoàn thành bài thi TOIEC trong
         tháng vừa qua với điểm số 695 TOEIC (Listening: 350 / Reading: 345 )
      </li>
      <li>
         <strong>Liểu Trung Hiếu</strong> - đã hoàn thành bài thi TOIEC trong
         tháng vừa qua với điểm số TOEIC 280/400 (Speaking: 130 / Writing: 150)
      </li>
      <li>
         <strong>Nguyễn Lệ Hoài Ân </strong>- đã hoàn thành bài thi IELTS 7.5
         MASTER trong tháng vừa qua với mức điểm 7.0
      </li>
      <li>
         <strong>Nguyễn Khải Minh</strong> – đã hoàn thành khóa học tin học văn
         phòng trong tháng vừa qua với mức điểm 700
      </li>
      <li>
         <strong>Hoàng Minh Hiệp</strong> - đã hoàn thành bài thi TOIEC trong
         tháng vừa qua với điểm số TOEIC 830 (Listening: 460 / Reading 370)
      </li>
      <li>
         <strong>Lê Nguyễn Đức Huy </strong>- đã hoàn thành bài thi TOIEC trong
         tháng vừa qua với điểm số TOEIC 210/400 (Speaking: 100 / Writing: 110)
      </li>
      <li><strong>ĐANG CẬP NHẬP </strong>…</li>
   </ul>
</div>
{% endblock %}
