{% extends 'layout.html' %} {% block body %}
<div
   style="
      margin: 100px;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   "
>
   <h1>Danh sách khoá học</h1>
   {% if user_courses %} {% for course in user_courses %}
   <div class="card">
      <h2>{{ course.title }}</h2>
      <p>{{ course.description }}</p>
   </div>
   {% endfor %} {% else %}
   <p>Bạn chưa đăng ký khoá học nào.</p>
   <form action="{{ url_for('schedule') }}" method="get">
      <button class="button-field" type="submit">Đăng ký khoá học</button>
   </form>
   {% endif %}
</div>
{% endblock %}
