{% extends "layout.html" %} {% block body %}
<!-- Liên kết trang   -->

<!-- Giới thiệu -->
<div class="batdau__trangchu">
   <h1 class="start__trangchu-tieude">
      Chào Mừng Đến Với <span>Language & IT Academy!</span>
   </h1>
   <p class="start__trangchu-noidung">
      Language & IT Academy là một trong những trung tâm đào tạo ngoại ngữ và
      tin học uy tín hàng đầu tại Việt Nam. Với sứ mệnh trang bị cho học viên
      những kiến thức và kỹ năng cần thiết để thành công trong thời đại số,
      Language & IT Academy đã không ngừng đổi mới và nâng cao chất lượng đào
      tạo. Trung tâm cung cấp đa dạng các khóa học tiếng Anh và lập trình, từ cơ
      bản đến nâng cao, phù hợp với mọi đối tượng học viên. Đặc biệt, phương
      pháp học kết hợp trực tuyến và offline giúp học viên chủ động trong việc
      học tập và tiết kiệm thời gian. Với đội ngũ giáo viên giàu kinh nghiệm và
      nhiệt huyết, cùng cơ sở vật chất hiện đại, Language & IT Academy cam kết
      mang đến cho học viên những trải nghiệm học tập tốt nhất.
   </p>
   <div class="hinhtrungtam">
      <img
         src="{{ url_for('static', filename='img/hinhanhtrungtam.jpg')}}"
         alt="Hinhtrungtam"
         class="hinhtrungtam-item"
      />
      <img
         src="{{ url_for('static', filename='img/hinhanhtrungtam2.jpg')}}"
         alt="Hinhtrungtam"
         class="hinhtrungtam-item"
      />
      <img
         src="{{ url_for('static', filename='img/hinhanhtrungtam4.jpg')}}"
         alt="Hinhtrungtam"
         class="hinhtrungtam-item"
      />
   </div>
</div>
<!-- Khóa học nổi bật-->
<div class="khoahocnoibat">
   <h3 class="tieude-noidung">TOEIC 4 Kỹ Năng</h3>
   <ul class="khoahocnoibat-danhsach">
      <li class="noidung">
         <b>Mục tiêu:</b> Đầu vào 300-500, đầu ra theo nhu cầu.
      </li>
      <li class="noidung"><b>Thời lượng</b> 5 tháng (3 buổi/tuần)</li>
      <li class="noidung"><a href="">[Tìm Hiểu Thêm]</a></li>
   </ul>
   <h3 class="tieude-noidung">IELTS MASTER</h3>
   <ul class="khoahocnoibat-danhsach">
      <li class="noidung"><b>Mục tiêu:</b> Đầu vào 6.5, đầu ra 7.5.</li>
      <li class="noidung"><b>Thời lượng:</b> 2 tháng (3-5 buổi/tuần)</li>
      <li class="noidung"><a href="">[Tìm Hiểu Thêm]</a></li>
   </ul>
   <h3 class="tieude-noidung">Tin Học Văn Phòng</h3>
   <ul class="khoahocnoibat-danhsach">
      <li class="noidung">
         <b>Mục tiêu:</b> Thành thạo Microsoft Word, Excel, PowerPoint.
      </li>
      <li class="noidung"><b>Thời lượng:</b> 2 tháng (2-3 buổi/tuần)</li>
      <li class="noidung"><a href="">[Tìm Hiểu Thêm]</a></li>
   </ul>
</div>
<!-- Tại sao chọn -->
<div class="taisaochon">
   <h3 class="tieude-noidung">Tại Sao Chọn Chúng Tôi?</h3>
   <ul class="taisaochon-danhsach">
      <li class="noidung">
         <span><b>Đội Ngũ Giảng Viên Chuyên Nghiệp: </b></span>
         <span>Với nhiều năm kinh nghiệm giảng dạy và chuyên môn cao.</span>
      </li>
   </ul>
   <ul class="taisaochon-danhsach">
      <li class="noidung">
         <span><b>Phương Pháp Giảng Dạy Tối Ưu: </b></span>
         <span
            >Được thiết kế để phù hợp với nhu cầu và trình độ của từng học
            viên.</span
         >
      </li>
   </ul>
   <ul class="taisaochon-danhsach">
      <li class="noidung">
         <span><b>Cơ Sở Vật Chất Hiện Đại: </b></span>
         <span
            >Lớp học tiện nghi, trang thiết bị đầy đủ để hỗ trợ quá trình học
            tập.</span
         >
      </li>
   </ul>
</div>
<!-- Liên hệ -->
<div class="lienhe">
   <h3 class="tieude-noidung">Liên hệ</h3>
   <ul class="lienhe__danhsach">
      <li class="noidung">
         <span><b>Điện thoại: </b></span>
         <span>096 123 45 67</span>
      </li>
      <li class="noidung">
         <span><b>Email: </b></span>
         <span>trungtamngoaingutinhoc@languageit.com</span>
      </li>
      <li class="noidung">
         <span><b>Địa chỉ: </b></span>
         <ul class="diachi__danhsach">
            <li class="noidung">
               Cơ sở 1: 153 Xô Viêt Nghệ Tĩnh, Phường 17, Quận Bình Thạnh, Thành
               phố Hồ Chí Minh
            </li>
            <li class="noidung">
               Cơ sở 2: 370 Nguyễn Kiệm, Phường 3, Quận Gò Vấp, Thành phố Hồ Chí
               Minh
            </li>
         </ul>
         <h3>
            <i
               >Hãy kết nối với chúng tôi và bắt đầu hành trình học tập của bạn
               ngay hôm nay!</i
            >
         </h3>
      </li>
   </ul>
</div>
{% endblock %}
