<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Responsive Login and Signup Form</title>

      <!-- CSS -->
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename='css/login.css') }}"
      />

      <!-- Boxicons CSS -->
      <link
         href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
         rel="stylesheet"
      />
   </head>

   <body>
      <section class="container forms">
         <div class="form login">
            <div class="form-content">
               <header>Đăng nhập</header>
               <form method="post" action="/login">
                  <div class="field input-field">
                     <input
                        type="username"
                        name="username"
                        placeholder="Tên người dùng"
                        class="input"
                     />
                  </div>

                  <div class="field input-field">
                     <input
                        type="password"
                        name="password"
                        placeholder="Mật khẩu"
                        class="password"
                     />
                     <i class="bx bx-hide eye-icon">👁️</i>
                  </div>

                  <div class="form-link">
                     <a href="#" class="forgot-pass">Quên mật khẩu?</a>
                  </div>

                  {% with messages =
                  get_flashed_messages(with_categories=True)%} {% if messages %}
                  {% for category, message in messages %}
                  <div class="{{ category }}">{{ message }}</div>
                  {% endfor %} {% endif %} {% endwith %}

                  <div class="field button-field">
                     <button type="submit">Đăng nhập</button>
                  </div>
               </form>

               <div class="form-link">
                  <span
                     >Chưa có tài khoản?
                     <a href="/signup" class="link signup-link">Đăng ký</a></span
                  >
               </div>
            </div>
         </div>

      <!-- JavaScript -->
      <script src="{{ url_for('static', filename='js/login.js') }}"></script>
   </body>
</html>
