<!DOCTYPE html>
<html lang="en">
   <head>
      <meta charset="UTF-8" />
      <meta http-equiv="X-UA-Compatible" content="IE=edge" />
      <meta name="viewport" content="width=device-width, initial-scale=1.0" />
      <title>Responsive Login and Signup Form</title>

      <!-- CSS -->
      <link
         rel="stylesheet"
         href="{{ url_for('static', filename='css/login.css') }}"
      />

      <!-- Boxicons CSS -->
      <link
         href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css"
         rel="stylesheet"
      />
   </head>

   <body>
      <section class="container forms">
         <div class="form login">
            <div class="form-content">
               <header>Đăng nhập</header>
               <form action="#">
                  <div class="field input-field">
                     <input type="email" placeholder="Email" class="input" />
                  </div>

                  <div class="field input-field">
                     <input
                        type="password"
                        placeholder="Mật khẩu"
                        class="password"
                     />
                     <i class="bx bx-hide eye-icon"></i>
                  </div>

                  <div class="form-link">
                     <a href="#" class="forgot-pass">Quên mật khẩu?</a>
                  </div>

                  <div class="field button-field">
                     <button>Đăng nhập</button>
                  </div>
               </form>

               <div class="form-link">
                  <span
                     >Chưa có tài khoản?
                     <a href="#" class="link signup-link">Đăng ký</a></span
                  >
               </div>
            </div>
         </div>

         <!-- Signup Form -->

         <div class="form signup">
            <div class="form-content">
               <header>Đăng ký</header>
               <form action="#">
                  <div class="field input-field">
                     <input type="email" placeholder="Email" class="input" />
                  </div>

                  <div class="field input-field">
                     <input
                        type="password"
                        placeholder="Tạo mật khẩu"
                        class="password"
                     />
                  </div>

                  <div class="field input-field">
                     <input
                        type="password"
                        placeholder="Nhập lại mật khẩu"
                        class="password"
                     />
                     <i class="bx bx-hide eye-icon"></i>
                  </div>

                  <div class="field button-field">
                     <button>Đăng ký</button>
                  </div>
               </form>

               <div class="form-link">
                  <span
                     >Đã có tài khoản?
                     <a href="#" class="link login-link">Đăng nhập</a></span
                  >
               </div>
            </div>
         </div>
      </section>

      {% with messages = get_flashed_messages(with_categories=True) %} {% if
      messages %}
      <ul>
         {% for category, message in messages %}
         <li class="{{ category }}">{{ message }}</li>
         {% endfor %}
      </ul>
      {% endif %} {% endwith %}

      <!-- JavaScript -->
      <script src="{{ url_for('static', filename='js/login.js') }}"></script>
   </body>
</html>
