{% extends "layout.html" %} {% block body %}
<!-- Tổng quan về Language & IT Academy -->
<div class="start-tongquan">
   <h1 class="start-tieude">
      TOEIC giao tiếp
   </h1>
   <p class="start-noidung">
      Nơi hội tụ của tri thức và công nghệ! Chúng tôi tự hào là một trung tâm
      đào tạo ngoại ngữ và tin học hàng đầu, cung cấp cho học viên những kiến
      thức và kỹ năng cần thiết để thành công trong môi trường toàn cầu hóa ngày
      nay.
   </p>
   <div class="gioithieu">
      <img
         src="{{ url_for('static', filename='img/speak.jpg')}}"
         alt="Gioithieutrungtam"
         class="gioithieu-item"
      />
   </div>
</div>
<!-- Sứ Mệnh Của Chúng Tôi -->
<div class="sumenh">
   <h3 class="tieude">Sứ Mệnh Của Chúng Tôi</h3>
   <p class="noidung">
      Sứ mệnh của Language & IT Academy là mang đến cho học viên một nền tảng
      vững chắc trong việc sử dụng ngôn ngữ và công nghệ thông tin. Chúng tôi
      cam kết xây dựng môi trường học tập thân thiện, sáng tạo và hiệu quả.
   </p>
</div>
<!-- Chương trình đào tạo -->
<div class="chuongtringdaotao">
   <h3 class="tieude">Chương Trình Đào Tạo</h3>
   <p class="noidung">Chúng tôi cung cấp các khóa học đa dạng, bao gồm:</p>
   <ul class="chuongtrinhdaotao-danhsach">
      <li class="noidung">
         <b>Ngoại Ngữ: </b>Tiếng Anh, Tiếng Trung, Tiếng Nhật, và nhiều ngôn ngữ
         khác. Các khóa học được thiết kế phù hợp với mọi đối tượng từ trẻ em
         đến người lớn.tôi cung cấp các khóa học đa dạng, bao gồm:
      </li>
      <li class="noidung">
         <b>Tin Học:</b> Khóa học về Microsoft Office, lập trình cơ bản, thiết
         kế đồ họa, và các kỹ năng công nghệ thông tin khác.
      </li>
   </ul>
</div>
<!-- Đội ngũ giảng viên -->
<div class="doingugiangvien">
   <h3 class="tieude">Đội ngũ giảng viên:</h3>
   <p class="noidung">
      Đội ngũ giảng viên của chúng tôi là những chuyên gia giàu kinh nghiệm,
      nhiệt huyết và luôn sẵn sàng hỗ trợ học viên trong quá trình học tập. Họ
      không chỉ là những người thầy mà còn là những người bạn đồng hành, giúp
      học viên phát triển tối đa tiềm năng của mình.
   </p>
</div>
<!-- Cơ sở vật chất -->
<div class="cosovatchat">
   <h3 class="tieude">Cơ Sở Vật Chất</h3>
   <p class="noidung">
      Trung tâm được trang bị đầy đủ tiện nghi và công nghệ hiện đại, tạo điều
      kiện tốt nhất cho việc học tập và trao đổi. Không gian học tập thoải mái,
      thân thiện sẽ giúp học viên dễ dàng tiếp thu kiến thức.
   </p>
</div>
<!-- Liên hệ -->
<div class="lienhe">
   <h3 class="tieude">Liên Hệ Với Chúng Tôi</h3>
   <p class="noidung">
      Hãy đến và trải nghiệm những khóa học chất lượng tại Language & IT Academy
      ! Để biết thêm thông tin chi tiết về chương trình đào tạo, học phí và thời
      gian biểu, vui lòng liên hệ với chúng tôi qua:
   </p>
   <ul class="lienhe-danhsach">
      <li class="noidung"><b>Điện thoại: </b>096 123 45 67</li>
      <li class="noidung">
         <b>Email:</b> trungtamngoaingutinhoc@languageit.com.
      </li>
      <li class="noidung">
         <span><b>Địa chỉ: </b></span>
         <ul class="diachi__danhsach">
            <li class="noidung">
               Cơ sở 1: 153 Xô Viêt Nghệ Tĩnh, Phường 17, Quận Bình Thạnh, Thành
               phố Hồ Chí Minh
            </li>
            <li class="noidung">
               Cơ sở 2: 370 Nguyễn Kiệm, Phường 3, Quận Gò Vấp, Thành phố Hồ Chí
               Minh
            </li>
         </ul>
         <h3>
            <i
               >Chúng tôi rất mong được đồng hành cùng bạn trên con đường chinh
               phục tri thức!</i
            >
         </h3>
      </li>
   </ul>
</div>

{% endblock %}
